crawlab
crawlee-web-crawler
crawler-scrapy-projects
kenv
__pycache__
.locks
models--*
proc0-crawl/attachments
proc0-crawl/vn_register_webportal/data
proc1-extract_storage/chunks*
proc1-extract_storage/docker-elk
proc1-extract_storage/hf_cache
proc1-extract_storage/docx_extract.ipynb
proc1-extract_storage/script_extract_docx.ipynb
proc1-extract_storage/script_ocr.ipynb
proc1-extract_storage/tmp.ipynb
